
# /
/build
/builder
/.idea
/gui/target
/*/build
.classpath
.project
*.iws
*.patch
/jnode.properties
local/
classlib.jar
all/lib/classlib-src.jar
classlib-src.jar.bz2
classlib.pack.gz

/.metadata
/netbeans/nbproject/private/
gui/target